tools/bin2h
tools/plug_in/Module.symvers
tools/plug_in/.cache.mk
os/linux/.cache.mk
os/

# build files
**/*.o
**/*.o.ur-safe

# vim files
**/*~
**/*.swp
**/*.swo

# IDE files
.vscode/

# misc
original-codes.zip